a{
  text-decoration: none;
  display: inline-block;
}
ul,
li{
  list-style: none;
  margin: 0;
  padding: 0;
}

body{
	font-family: 'Merriweather', serif;
	font-weight: 400;
  line-height: 18px;
  color: #191919;
	letter-spacing: 0.02em;
	font-size: 16px;
	font-style: normal;
}
.conteiner{
	max-width: 1230px;
	padding:0 15px;
	margin: 0 auto;
}
.header{
  background-color: #f7f7f7;
  max-width: 1920px;
  margin: 0 auto;
}
  .header__btn-menu{
    display: block;
  }
.header__content{
  padding:25px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu a{
  border-bottom: 2px solid transparent;
  transition: all .3s;
  color: #191919
}
.menu a:hover{
  border-color: #3362f5;
}
.menu{
  width: 100%
}
.menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul li:first-child{
  width: 145px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  padding: 0;
  font-family: 'Merriweather', serif;
}
.menu ul li span:first-child{
float: right
}
.menu li{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 22px;
}
.menu ul li:nth-child(5) {
    border-bottom: 2px solid #3362F5;
}
.header__btn-menu span{
width: 33px;
    height: 3px;
    background: #191919;
    position: absolute;
    top: 29px;
}
.header__btn-menu span:first-child{
    margin-top: 12px;
}
.header__btn-menu span:nth-child(2){
      margin-top: 22px;
}
.header__btn-menu span:last-child{
      margin-top: 32px;
}
.header__call{
  text-align: right;
}
.header__call a{
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;  
  color: #3362F5
}
.header__call a:hover{
  color: #191919;
  transition: all .3s;
}
.header__call span a{
  font-family: Open Sans;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0 35px;
  color: #9C9C9C;
  border-bottom: 1px dashed #9C9C9C;
  cursor: pointer;
   outline: none;
   line-height: 20px;
   float: right;
}
.header__call span a:hover{
  color: #3362f5;
  border-bottom: 1px dashed #3362f5;
  transition: all .3s;
}
////////////////////////
.main__title{
  
}
.main__title-wrapper,
.link__wrapper,
.send__wrapper,
.footer__content,
.poster__wrapper {
  background-color: #f7f7f7;
  max-width: 1920px;
  margin: 0 auto;
}
.main__title-wrapper .conteiner,
.link__wrapper .conteiner,
.send__wrapper .conteiner,
.poster__wrapper .conteiner{
  background: #fff
}
.main__name{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.main__title-title,
.content__poster{
  padding: 30px 15px;
  }
 .main__title-wrapper span{
    border: 0.5px solid #191919;
    opacity: 0.3;
    display: block;
    margin: 0px 15px;
}
.main__link{
  text-align: right;
    width: 100%;
}
.main__link a{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
color: #191919;
opacity: 0.6;
    margin-left: 30px;
}
.main__link a:hover{
  color: #3362F5;
    transition: all .3s;
        opacity: 0.9;
}

//////////////////////////
.poster{

}
.content__poster{
  position: relative;
}
.poster__inner{

}
.main__poster{
max-width: 870px;
    padding-right: 315px;
}
.main__poster .images{
width: 100%;
    max-width: 400px;

}
.article__conteiner{
max-width: 470px;
    background-color: #fff;
    border: 1px solid rgba(25, 25, 25, 0.1);
    padding: 20px;
    position: relative;
    margin-left: 360px;
    margin-top: -240px;
}
.article{

}
.main__article{

}
.left,
.main__title-title{
display: flex;
align-items: center;
}
.left img{

}
.by{
font-weight: normal;
font-size: 14px;
line-height: 18px;
margin-left: 10px;
}
.by span{
  font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #9C9C9C;
}
.article__title{
font-weight: bold;
font-size: 16px;
line-height: 24px;
padding: 16px 0;
}
.article__address{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
}
.article__address span{
  color:#9C9C9C;;
}
.main__poster .article__text{
  margin-top: 50px;
}
.one__preview{
    top: 30px;
}
.one__preview,
.two__preview{
width: 270px;
    padding-left: 30px;
    position: absolute;
    right: 0;
    padding-right: 15px;
}
.two__preview{
  top: 380px;
}
.preview__title,
.preview-title{
font-weight: bold;
font-size: 20px;
line-height: 25px;
}
.preview__title span{
border: 0.5px solid #191919;
    opacity: 0.3;
    display: block;
    position: relative;
    bottom: -35px;
}
.preview{
border: 1px solid rgba(25, 25, 25, 0.1);
    padding: 10px;
    margin-top: 35px;
}
.preview__conteiner{

}
.preview__conteiner img{
width: 250px;
}
.preview-title{
margin: 10px 0px;
}
.preview__text,
.article__text,
.preview__by span{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #9C9C9C;
}
.preview__by{
  margin: 20px 0;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.center__buttom{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
button {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    background: #486cdb;
    border-radius: 10px;
    border: none;
    color: #fff;
    height: 60px;
    width: 100%;
    max-width: 270px;
    border-bottom: 5px solid #4762B5;
    cursor: pointer;
    outline: none;
}
.center__buttom button:hover{
  background-color: #4646eb;
    border-bottom: 5px solid #304ba0;
}
.status{
  font-weight: bold;
font-size: 18px;
line-height: 23px;
color: #3362F5;
width: 100%;
    padding-left: 30px;
}


.footer__content {
    background: #f7f7f7;
    text-align: center;
    margin: 0 auto;
    max-width: 1920px;
}
.footer__inner {
    padding: 50px 15px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    line-height: 48px;
}
.footer__autor {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.footer__politica a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #9C9C9C;
    font-family: 'Open Sans', sans-serif
}
.footer__politica a:hover{
  color: #3362f5;
}
.footer__number a {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #191919;
    margin-left: 40px;
    position: relative;
}
.footer__number a img{
  position: absolute;
  top: 0;
  left: -35px;
}
.footer__number a:hover{
  color: #3362f5;
}
.footer__copy {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #9C9C9C;
    background: #E5E5E5;
    max-width: 1920px;
    margin: 0 auto;
}
.footer__copy-inner {
    padding: 10px 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer__copy {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #9C9C9C;
    background: #E5E5E5;
    max-width: 1920px;
    margin: 0 auto;
}

.footer__social-links a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1.5px solid #3362f5;
    cursor: pointer;
    outline: none;
    margin-left: 25px;
    background-color: rgb(229, 229, 229);
    position: relative;
}
.footer__social-links a img {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
}

  .header__btn-menu{
    display: none;
  }
  #modal,
  #modal_z{
  max-width: 400px;
    border-radius: 5px;
    text-align: center;
    display: none;
}
#modal__ready{
  width: 300px;
    text-align: center;
  border-radius: 5px;
display: none;
}

.ask__form-title{
  font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
}
form label {
    font-family: Open Sans;
    font-weight: 600;
    line-height: 19px;
    float: left;
    padding: 34px 0 5px;
    font-size: 14px;
}
form input {
    font-family: Open Sans;
    border: none;
    padding: 25px 15px;
    width: 100%;
    background: #F4F4F4;
    border-radius: 5px;
}
#modal__ready  .fancybox-close-small{
  top: 0;
  right: 0;
}